/*==============================================================
  01. Variables
================================================================*/
:root {
  --white-color: #fff;
  --black-color: #000;
  --primary-color: #0E1109;
  --secondary-color: #4A5567;
  --accent-color: #FFD643;
  --dark-blue: #1F77D6;
  --light-blue: #B2EAFE;
  --lightest-blue: #EAF3FC;
  --gray-color1: #FAFAFA;
  --gray-color2: #E3E8EF;
  --gray-color3: #677489;
  --primary-font: "Plus Jakarta Sans", sans-serif;
  --secondary-font: "Inter", sans-serif
}