/*===========================================================  
  07. Preloade
=============================================================*/
.cs_preloader {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999999;
  background-color: var(--white-color);

  .cs_preloader_text {
    position: relative;
    color: var(--dark-blue);
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px var(--dark-blue);

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      color: var(--dark-blue);
      content: attr(data-text);
      -webkit-text-fill-color: var(--dark-blue);
    }

    &::before {
      -webkit-text-stroke: 1px var(--dark-blue);
      clip-path: inset(0% 50% 0% 50%);
      animation: fillText 4s linear infinite;
      animation-delay: 0.1s;
    }
  }
}

@keyframes fillText {
  to {
    clip-path: inset(0 0 0 0);
  }
}